{% extends "survey/survey_base.html" %}
{% load crispy_forms_tags %}

{% block survey %}
<div class="py-5 text-left">
<form action="" method="post" validate>
  {% csrf_token %}
  {{ form.title|as_crispy_field }}
  {{ form.link|as_crispy_field }}
  {{ form.content|as_crispy_field }}


  <label for="id_finished_at" class="col-form-label  requiredField">
                  마감일<span class="asteriskField">*</span>
              </label>

  <div class="input-group date" id="datetimepicker1" data-target-input="nearest" >
    {{ form.finished_at }}
    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      {{ form.credit|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.max_participant|as_crispy_field }}
    </div>
  </div>


  <input type="submit" class="btn btn-primary" value="등록하기"/>
  <a href="{% url 'survey:survey_list' %}" class="btn btn-outline-secondary">목록으로</a>
</form>

</div>






{% endblock %}
