
{% extends "accounts/accounts_base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block accounts %}

<div class="row justify-content-center">
  <div class="col-7">
    <div class="card">
      <div class="card-body">
        <h4>로그인이 필요합니다</h4>
        <div class="py-4 text-left">
        <form class="form-signin" method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="로그인"/>
          <a href="#" class="btn btn-link">비밀번호를 잊으셨나요?</a>
        </form>
        </div>
      </div>

    </div>
    <a href="{% provider_login_url 'google' %}"><img src="{% static 'accounts/google_login2.png' %}" width=200px; height=auto;/></a>
    <a href="{% provider_login_url 'kakao' %}"><img src="{% static 'accounts/kakao_login2.png' %}" width=200px; height=auto;/></a>
    <a href="{% provider_login_url 'naver' %}"><img src="{% static 'accounts/naver_login2.png' %}" width=200px; height=auto;/></a>
  </div>

</div>




{% endblock %}
